@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    /*background-color: black;*/
    background-image: url(../../images/screenshot.jpg);
    background-size: 100% 100%;
}
.hero1{
    background-image: url(../../images/Ellipse\ 3.png);
    background-size: 100% 100%;   
}
.hero2{
    background-image: url(../../images/5.png);
    background-size: 100% 100%;   
}
.hero3{
    background-image: url(../../images/3.png);
    background-size: 100% 100%;   
}
.hero4{
    background-image: url(../../images/4.png);
    background-size: 100% 100%;   
}
.hero5{
    background-image: url(../../images/6.png);
    background-size: 100% 100%;   
}
.hero6{
    background-image: url(../../images/7.png);
    background-size: 100% 100%;   
}
.swiper {
    width: 100%;
    height: 100%;
  }
.slider1{
    background-image: url(../../images/Image.png);
    background-size: 100% 100%;
}
.slider2{
    background-image: url(../../images/Image1.png);
    background-size: 100% 100%;
}
.slider3{
    background-image: url(../../images/Image2.png);
    background-size: 100% 100%;
}
.slider4{
    background-image: url(../../images/Image3.png);
    background-size: 100% 100%;
}
.slider5{
    background-image: url(../../images/Image.png);
    background-size: 100% 100%;
}
.slider6{
    background-image: url(../../images/5.png);
    background-size: 100% 100%;
}
.seling{
    background-image: url(../../images/image\ 14.png);
    background-size: 100% 100%;
}
.seling1{
    background-image: url(../../images/image\ 33.png);
    background-size: 100% 100%;
}
.seling11{
    background-image: url(../../images/seling11.png);
    background-size: 100% 100%;
}
.seling12{
    background-image: url(../../images/seling12.png);
    background-size: 100% 100%;
}
.seling13{
    background-image: url(../../images/seling13.png);
    background-size: 100% 100%;
}
.seling14{
    background-image: url(../../images/seling14.png);
    background-size: 100% 100%;
}
.selling22{
    background-image: url(../../images/image\ 39.png);
    background-size: 100% 100%;
}
.selling23{
    background-image: url(../../images/image\ 9.png);
    background-size: 100% 100%;
}
.selling24{
    background-image: url(../../images/image\ 38.png);
    background-size: 100% 100%;
}
.selling25{
    background-image: url(../../images/image\ 42.png);
    background-size: 100% 100%;
}
.acceories1{
    background-image: url(../../images/acceories4.png);
    background-size: 100% 100%;
}
.acceories2{
    background-image: url(../../images/acceories2.png);
    background-size: 100% 100%;
}
.acceories3{
    background-image: url(../../images/acceories.png);
    background-size: 100% 100%;
}
.diper{
    background-image: url(../../images/dipers.png);
    background-size: 100% 100%;
}
.mark{
    background-image: url(../../images/markup.png);
    background-size: 100% 100%;
}